/* Component - Facets
=================================== */
.facet {
  position: relative;
  border-top: 1px dashed var(--color-border);
  border-bottom: 1px dashed var(--color-border);
}

.facet + .facet {
  border-top: 0;
}

.no-js .facet,
.facet[aria-expanded=true] {
  padding-bottom: 1.8rem;
}

.no-js .facet .facet-toggle .angle-icon::before,
.no-js .facet .facet-toggle .angle-icon::after,
.facet[aria-expanded=true] .facet-toggle .angle-icon::before,
.facet[aria-expanded=true] .facet-toggle .angle-icon::after {
  transform: rotate(0);
  height: 2px;
}

.no-js .facet .facet-content,
.facet[aria-expanded=true] .facet-content {
  display: block;
}

.facet-standalone .facet-content {
  padding-top: 1.8rem;
}

collapsible-expandable + collapsible-expandable > .facet {
  border-top: 0;
}

collapsible-expandable + .facet {
  border-top: 0;
}

.js-filter + .js-filter .facet {
  border-top: 0;
}

collapsible-expandable + .js-filter .facet {
  border-top: 0;
}

.facet-heading {
  font-family: var(--font-heading-family);
}

.facet-toggle {
  font-family: var(--font-heading-family);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 1.8rem 0;
  text-decoration: none;
  background: none;
  box-shadow: none;
  color: rgb(var(--color-foreground-alt));
  text-transform: uppercase;
  height: auto;
  width: 100%;
  font-size: calc(var(--font-heading-scale) * 1.5rem);
  line-height: calc(1 + 0.2 / var(--font-heading-scale));
  border-radius: 0;
  font-weight: var(--font-bolder-weight);
}

.facet-toggle > span:first-child {
  display: flex;
  align-items: center;
  text-align: left;
}

.facet-toggle > span:first-child svg {
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
  flex: none;
}

.facet-toggle > span:first-child svg path {
  fill: rgb(var(--color-accent-2));
}

.facet-toggle .angle {
  margin-left: auto;
  flex: none;
}

.facet-content {
  display: none;
}

.facet-content-header {
  margin-bottom: 1.8rem;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  display: flex;
}

.facet-content-header .facet-link-reset {
  margin-left: auto;
}

.facet-content-footer {
  margin-top: 1.8rem;
  display: flex;
  justify-content: space-between;
}

.facet-content-footer:empty {
  display: none;
}

.facet-options-list {
  margin: 0;
  padding: 0 0.1rem;
  list-style: none;
}

.facet-options-list[aria-expanded=false] {
  max-height: 30rem;
  overflow-y: hidden;
}

.facet-options-list-item {
  display: block;
  padding: 0;
}

.checkbox-facet {
  line-height: normal;
  width: 100%;
  position: relative;
}

.checkbox-facet [type=checkbox] {
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: -1;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox-facet [type=checkbox]:checked ~ .checkbox-facet-check {
  background-color: rgb(var(--color-accent-2));
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-accent-2));
}

.checkbox-facet [type=checkbox]:checked ~ svg {
  visibility: visible;
}

.checkbox-facet [type=checkbox]:checked ~ .checkbox-facet-label-count {
  background-color: rgb(var(--color-accent-2));
  color: var(--color-base-white);
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
}

.checkbox-facet svg {
  position: absolute;
  left: -0.1rem;
  top: 0;
  z-index: 1;
  width: 2.2rem;
  height: 2.2rem;
  visibility: hidden;
  font-size: 1rem;
}

.checkbox-facet svg path {
  fill: var(--color-base-white);
}

.checkbox-facet.checkbox-facet-disabled .checkbox-facet-label {
  opacity: 0.6;
  cursor: not-allowed;
}

.checkbox-facet.checkbox-facet-disabled .checkbox-facet-label:hover .checkbox-facet-check {
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
}

.checkbox-facet-label {
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  color: rgb(var(--color-foreground-alt));
  font-size: calc(var(--font-body-scale) * 1.5rem);
  padding: 0.1rem 0;
  position: relative;
  word-break: break-word;
}

.checkbox-facet-label:hover .checkbox-facet-check {
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-accent-2));
}

.checkbox-facet-check {
  flex: none;
  position: relative;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: var(--color-background);
  border-radius: 3px;
  transition: background-color 0.18s ease;
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
}

.checkbox-facet-label-count {
  margin-left: auto;
  font-size: calc(var(--font-body-scale) * 1.2rem);
  color: rgb(var(--color-foreground));
  padding: 0.3rem 0;
  flex: none;
}

.facets-price-range {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}

.facet-price-range-field {
  display: flex;
  align-items: center;
  width: 50%;
}

.facet-price-range-currency {
  margin-right: 0.5rem;
}

.button-sidebar-facets-submit {
  width: 100%;
  margin-top: 2rem;
}
