/* Component - Predictive Search
=================================== */
.predictive-search {
  display: none;
  position: absolute;
  width: calc(100% - 1rem);
  top: calc(100% + 0.1rem);
  left: 0.5rem;
  background-color: rgb(var(--color-background));
  z-index: 3;
  border-bottom-right-radius: var(--border-radius-base);
  border-bottom-left-radius: var(--border-radius-base);
  box-shadow: inset 0 0 0 1px var(--color-border), 0 3px 0 var(--color-box-shadow);
  background-color: rgb(var(--color-background));
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

predictive-search:not([loading]) .predictive-search-heading [class^=spinner],
predictive-search:not([loading]) .predictive-search-loading-state,
predictive-search:not([loading]) .predictive-search-status-loading {
  display: none;
}

predictive-search[loading] .predictive-search-loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

predictive-search[loading] .predictive-search-heading ~ .predictive-search-loading-state,
predictive-search[loading] .predictive-search-results-list:first-child {
  display: none;
}

predictive-search[loading] .predictive-search, predictive-search[open] .predictive-search {
  display: block;
}

.predictive-search-heading {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: 0;
}

.predictive-search-heading [class^=spinner] {
  margin: 0 0.2rem 0 auto;
}

.predictive-search-results-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.predictive-search-list-item {
  margin: 0;
  padding: 0;
  display: block;
}

.predictive-search-list-item .price-regular .price-item-regular,
.predictive-search-list-item .price-item-sale {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  margin-top: 0.5rem;
}

.predictive-search-list-item .price-sale span {
  display: inline-block;
}

.predictive-search-list-item .unit-price {
  font-size: calc(var(--font-body-scale) * 1.2rem);
}

.predictive-search-list-item:hover, .predictive-search-list-item[aria-selected=true] {
  background: rgb(var(--color-foreground), 0.05);
}

.predictive-search-item-link {
  display: flex;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  color: rgb(var(--color-foreground));
}

.predictive-search-item-image-wrap {
  box-shadow: inset 0 0 0 1px var(--color-border), 0 3px 0 var(--color-box-shadow);
  background-color: rgb(var(--color-background));
  border-radius: var(--border-radius-base);
  position: relative;
  width: 8rem;
  padding: 0.5rem;
  flex: none;
  margin-right: 2rem;
}

.predictive-search-item-image-wrap:empty {
  opacity: 0;
  visibility: hidden;
}

.predictive-search-item-image {
  object-fit: contain;
}

.predictive-search-item-content {
  flex: auto;
  min-width: 1px;
}

.predictive-search-item-heading {
  font-size: calc(var(--font-heading-scale) * 1.3rem);
  font-weight: 400;
  color: rgb(var(--color-foreground-alt));
  margin: 0;
}

@media (min-width: 990px) {
  .predictive-search-item-heading {
    font-size: calc(var(--font-heading-scale) * 1.4rem);
  }
}

.predictive-search-item-vendor {
  text-transform: uppercase;
  margin-bottom: 0.1rem;
  font-size: calc(var(--font-body-scale) * 1.2rem);
}

.predictive-search-list-item-term {
  text-align: center;
  padding: 1.5rem 1rem;
  border-top: 1px dashed var(--color-border);
}

.predictive-search-list-item-term:only-child {
  border: 0;
}
