/* Section - Media with text
================================ */
h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-transform: uppercase;
}

p {
  color: #232323;
}

.media-with-text .button {
  border-radius: 2px;
  box-shadow: none;
  margin-top: var(--spacing-base-1);
  transition: background-color 0.3s ease 0s;
}

.media-with-text .button:hover {
  background-color: #232323;
  box-shadow: none;
}

.media-with-text-grid {
  display: block;
}

@media (min-width: 750px) {
  .media-with-text-grid {
    display: flex;
  }

  .media-with-text-grid.media-with-text-grid-reverse {
    flex-direction: row-reverse;
  }
}

.media-with-text-media-item {
  margin-bottom: 2rem;
}

.media-with-text-media-item img {
  border-radius: var(--border-radius-base);
}

@media (min-width: 750px) {
  .media-with-text-media-item {
    margin: 0;
    width: 50%;
    flex: none;
  }
}

@media (min-width: 750px) {
  .media-with-text-text-item {
    width: 50%;
    flex: none;
    display: flex;
    align-items: center;
    padding-left: 3rem;
  }

  .media-with-text-grid-reverse .media-with-text-text-item {
    padding-right: 3rem;
    padding-left: 0;
  }
}

@media (min-width: 990px) {
  .media-with-text-text-item {
    padding: 3rem 5rem;
  }

  .media-with-text-grid-reverse .media-with-text-text-item {
    padding: 3rem 5rem;
  }
}

.media-with-text-caption {
  margin: 2rem 0 0;
  font-size: calc(var(--font-body-scale) * 1.4rem);
}

.media-with-text-content-left {
  text-align: left;
}

.media-with-text-content-center {
  text-align: center;
}

.media-with-text-content-right {
  text-align: right;
}
